apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: jenkins-ci-webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-ci-webapp
  template:
    metadata:
      labels:
        app: jenkins-ci-webapp
    spec:
      containers:
      - name: db
        image: postgres:latest
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "user"
        - name: POSTGRES_PASSWORD
          value: "password"
        - name: POSTGRES_DB
          value: "mydatabase"
        volumeMounts:
        - name: db-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: db-storage
        persistentVolumeClaim:
          claimName: db-pvc