apiVersion: v1
kind: Service
metadata:
  name: db-service
  labels:
    app: jenkins-ci-webapp
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: jenkins-ci-webapp
    tier: database