apiVersion: v1
kind: Service
metadata:
  name: web-service
  labels:
    app: jenkins-ci-webapp
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: jenkins-ci-webapp
